body {
    width: 85%;
    margin: auto;
    text-align: center;
    background-color: lavender;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial Rounded MT';
    font-size: 22px;
    color: darkblue;
}

a {
    display: inline-table;
    background-color: azure;
    color: black;
}

li {
    display: run-in;
    padding: 10px;
}

.create {
    font-size: larger;
    background-color: burlywood;
    color: darkred;
    padding: inherit;
}

tr {
    border-bottom-style: double;
    border-bottom-color: brown;
    border-bottom-width: thick;
    padding-bottom: 2em;
}
