@page "{id?}"
@model NetGram.Pages.Work.ManageModel
@{
    ViewData["Title"] = "Manage";
}



<!DOCTYPE html>
<html>
<head>
    <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
    <title>Manage EDIT</title>
</head>
<body>
    <h1>Manage your post here.</h1>

    <h2><button type="button" class="btn btn-outline-primary"><a asp-page="../Index">Back Home</a></button></h2>

    <form method="post" enctype="multipart/form-data">
        <div>
            <label asp-for="Image"></label>
            <input asp-for="Image" type="file" />
        
            <label asp-for="WorkGram.UserName"></label>
            <input asp-for="WorkGram.UserName" />
        
            <label asp-for="WorkGram.Title"></label>
            <input asp-for="WorkGram.Title" />
        
            <label asp-for="WorkGram.URL"></label>
            <input asp-for="WorkGram.URL" />
        
            <label asp-for="WorkGram.Views"></label>
            <input type="number" min="0" asp-for="WorkGram.Views" />
        
            <label asp-for="WorkGram.Comments"></label>
            <textarea rows="4" asp-for="WorkGram.Comments"></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-success">SAVE</button>
        </div>

        <div>
            <button type="submit" asp-page-handler="Delete" class="btn btn-danger">DELETE</button>
        </div>

    </form>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
     

</body>
</html>

